<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
  <!-- ヘッダー部分 ================ -->
    <div class="navbar-header">
      <a class="navbar-brand" href="<%=  %>">成年後見人業務サポートサービス</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_target">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  <!-- 右寄せになる部分 ================ -->
      <ul class="nav navbar-nav navbar-right">
        <!-- リンクのみ -->
          <li><%= link_to "ログイン", new_login_path %></li>
      </ul>
    </div>
</nav>
  <!-- ヘッダー部分 終わり========== -->

  <div class="container" style="padding:20px 0">
      <h1>ご登録ありがとうございました。</h1>
  </div>
